{# src/CakeBundle/Resources/views/create_cake.html.twig #}
{% extends 'CakeBundle::base.html.twig' %}

{% block title %}Stwórz własny tort - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Kontakt
                </h2>
                <hr>
            </div>
            <div class="col-md-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.937468114301!2d21.01318831537612!3d52.22635387975966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471eccf1e6307f21%3A0x693cf4cbd6aa7dc7!2sHo%C5%BCa+27A%2C+Warszawa!5e0!3m2!1spl!2spl!4v1464182789808" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-4">
                <p>Telefon kontaktowy:
                    <strong>+48 781 33 10 33</strong>
                </p>
                <p>Email:
                    <strong><a href="mailto:kontakt@slodkibez.pl">kontakt@slodkibez.pl</a></strong>
                </p>
                <p>Adres:
                    <strong>ul. Hoża 27A, 00-001 Warszawa</strong>
                </p>
                <p>Godziny otwarcia:
                <strong>10:00 – 20:00</strong></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

{% endblock %}